<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>Hello, world!</title>
  </head>
  <body>
  	<div class="container">
    	<h1 class="bg-primary">My personal API</h1>
    	<div class="row">
    		
    	</div>
    	<div>
    		<form class="post_form" method="POST">
    			<div class="form-group">
				    <label for="exampleFormControlInput1">Email address</label>
				    <input type="text" class="form-control" id="exampleInputUsername" placeholder="name@example.com">
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlTextarea1">Example textarea</label>
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				  </div>
					<button type="submit" class="btn btn-primary submit_btn">Submit</button>
				</form>
    	</div>
	</div>

	<script>
		const _row = document.querySelector(".row");
		const exampleFormControlTextarea1=document.querySelector('#exampleFormControlTextarea1');
		const exampleInputUsername=document.querySelector("#exampleInputUsername");
		const post_form=document.querySelector(".post_form");
		post_form.addEventListener('submit', e=>{
			e.preventDefault();
			console.log(exampleInputUsername.value)
			console.log(exampleFormControlTextarea1.value)
			console.log($('#exampleFormControlTextarea1').val(),'jn')
			$.ajax({
				type:"POST",
				url:"http://127.0.0.1:8001/advocates/",
				headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json;charset=UTF-8'
          },
          dataType:'json',
          data:JSON.stringify({
          	"username":exampleInputUsername.value,
          	"bio":exampleFormControlTextarea1.value
          }),
          success:function(response){
						console.log(response)
					}, 
					error:function(err){
						console.log(err)
					},
			})
		})

		const row= document.querySelector('.row');
		$.ajax({
			type:"GET",
			url:"http://127.0.0.1:8001/advocates/",
			headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json;charset=UTF-8'
          },
			success:function(response){
			console.log(response)
			for(advocate in response){
				console.log(response[advocate].username);
				_row.innerHTML +=`

					<div class="col-md-6 col-sm-12"
						<div class="card" style="width: 18rem;">
						  <div class="card-body">
						    <h5 class="card-title">${response[advocate].id}</h5>
						    <h6 class="card-subtitle mb-2 text-muted">${response[advocate].username}</h6>
						    <p class="card-text">${response[advocate].bio}</p>
						    <form>
						    	<input type="hidden" id="${response[advocate].username}">
						    	<button class="submit_btn">Update<button>
						    </form>
		
						  </div>
						</div>
					</div>

				`
			}
		}, 
		error:function(err){
			console.log(err)
		}
	})
		const btn_submit = document.querySelectorAll(".submit_btn");
		console.log(btn_submit.length)
	// $.ajax({
	// 	type:"GET",
	// 	url:"http://127.0.0.1:8001/advocate_detail/",
	// 	success:function(res){
	// 		console.log(res)
	// 	},
	// 	error:function(err){
	// 		console.log(err)
	// 	}
	// })
	</script>

  </body>
</html>